[user]
	name = jigyakkuma
	email = jigyakkuma@gmail.com
[push]
	default = matching
[alias]
	ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  co = checkout

[ghq]
  root = ~/src
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
